<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoShop.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="header-menu-container">
            <div class="logo-wraper">logo</div>
            <div class="menu-wraper">
                <ul class="main-menu">
                    <li class="main-menu-item "><a class="main-menu-link">خانه</a></li>
                    <li class="main-menu-item "><a class="main-menu-link">تماس با ما</a></li>
                    <li class="main-menu-item "><a class="main-menu-link">آموزش ها</a></li>
                    <li class="main-menu-item "><a class="main-menu-link">بلاگ</a></li>
                </ul>
            </div>
            <div class="login-logout-buttons-wraper">
                <a class="" href="#">ورود</a>
                <a class="" href="#">ثبت نام</a>
            </div>
        </div>
        <div class="row">
            hedear filter search
        </div>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
