html,body{
    direction:rtl !important;
    text-align:right;
    
}
a {
    text-decoration: none !important;
}
.header-menu-container{
    width:100%;
    height:80px;
    display:flex;
    align-items:center;
    background-color:#f0f0f0;
    
}
.logo-wraper
{
    width:25%;
}
.menu-wraper{
    width:50%;
}
.main-menu {
    display:flex;
    align-items:center;
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}
.main-menu-item {
    display: flex;
    align-items: center;
}
.main-menu-item:not(:last-child)::after{
       padding:0 10px;
      content: '/';
      color:#333;
  }
.main-menu-link
{
    display:block;
    text-decoration:none;
    color:#333 !important;
    border-radius:50px;
    padding:4px 15px;
    cursor:pointer;
    transition:all 500ms ease;
    
}
.main-menu-link:hover {
    background-color: orange
}
.login-logout-buttons-wraper {
    width: 25%;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.login-logout-buttons-wraper a{
    display:block;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.1);
   
    color:black;
    margin:0px 5px;
    text-decoration:none;
    border-radius:50px;
    padding:5px 15px;
    cursor:pointer;
    transition:all 400ms ease;
    background-color:white;
    border:1px solid rgba(0,0,0,0.1);
}
    .login-logout-buttons-wraper a:hover
    {
        background-color:orange;
       
    }